[submodule "googletest"]
	path = src/test/googletest
	url = https://github.com/google/googletest.git
[submodule "asio"]
	path = src/include/impl/asio
	url = https://github.com/boostorg/asio.git
[submodule "src/include/fmt"]
	path = src/external/fmt
	url = https://github.com/fmtlib/fmt.git
